<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chill Guys</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/../../assets/css/styles_sensor_page_3.css" rel="stylesheet">

    <img src="/../../assets/uploads/klima.png" alt="Meine Logo" class="logo">

    <span class="herstelle">Herstelle</span>
    <img src="../../assets/uploads/hersteller.png" alt="Meine Logo" class="logo_herstelle">

    <span class="ort">Erfurt</span>
    <img src="../../assets/uploads/pin.png" alt="Meine Logo" class="logo_ort">

  </head>
  <body>


    <div class="erste_sensor">
    <img src="../../assets/uploads/technologie.png" alt="Meine Logo" class="logo_sensor">

    <span class="strasse_name_erfurt_1">Straße</span>

    <div class="temp_form">

      <span class="background_logo_weather"></span>
      <img src="../../assets/uploads/sonne%20(2).png" alt="Weather Logo" class="weather_logo">

      <!--Hier zeigt den aktuelle Temp-->
      <span class="temp_aktuelle_erfurt_1">temp</span>

      <b class="max_text">MAX:</b>
      <span class="max_temp_erfurt_1">40°C</span>
    </div>
    
    <!--Hier kommt drauf auf temp im backend das machen und hiere soll geändert sein-->
    <span class="warnung_keine_hitze">Keine hitze</span>
    <img src="../../assets/uploads/ok.png" alt="Weather Logo" class="keine_hitze_logo">
    

    </div>


    <div class="zweite_sensor">
    <img src="../../assets/uploads/technologie.png" alt="Meine Logo" class="logo_sensor">

    <span class="strasse_name_erfurt_2">Straße</span>

    <div class="temp_form">

      <span class="background_logo_weather"></span>
      <img src="../../assets/uploads/sonne%20(2).png" alt="Weather Logo" class="weather_logo">

      <!--Hier zeigt den aktuelle Temp-->
      <span class="temp_aktuelle_erfurt_2">temp</span>

      <b class="max_text">MAX:</b>
      <span class="max_temp_erfurt_2">40°C</span>
    </div>
    
    <!--Hier kommt drauf auf temp im backend das machen und hiere soll geändert sein-->
    <span class="warnung_hitze">Keine hitze</span>
    <img src="../../assets/uploads/ok.png" alt="Weather Logo" class="keine_hitze_logo">
    

    </div>



    <div class="dreite_sensor">
    <img src="../../assets/uploads/technologie.png" alt="Meine Logo" class="logo_sensor">
        
    <span class="strasse_name_erfurt_3">Straße</span>

    <div class="temp_form">

      <span class="background_logo_weather"></span>
      <img src="../../assets/uploads/sonne%20(2).png" alt="Weather Logo" class="weather_logo">

      <!--Hier zeigt den aktuelle Temp-->
      <span class="temp_aktuelle_erfurt_3">temp</span>

      <b class="max_text">MAX:</b>
      <span class="max_temp_erfurt_3">40°C</span>
    </div>
    
    <!--Hier kommt drauf auf temp im backend das machen und hiere soll geändert sein-->
    <span class="warnung_hitze">Keine hitze</span>
    <img src="../../assets/uploads/ok.png" alt="Weather Logo" class="keine_hitze_logo">
   
    </div>

    <button class="back_button" onclick="document.location='/template/pages/server_schrank.html'">Zurück</button>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>